footer.page-footer
  .row.footer-container
    .col.l6.s12
      h5.white-text Santa House
      p.grey-text.text-lighten-4 Sed ut perspiciatis unde omnis iste natus.
    .col.l4.offset-l2.s12
      h5.white-text Follow us on
      ul
        li
          a.grey-text.text-lighten-3(href='#!') Facebook
        li
          a.grey-text.text-lighten-3(href='#!') Youtube
        li
          a.grey-text.text-lighten-3(href='#!') Twitter
  .footer-copyright
    .block
      | © 2017 Copyright Santa House
      a.grey-text.text-lighten-4.right(href='#!') More Links